[flake8]
ignore = E741, E241, E203, W503, E266
exclude = *__init__.py,
# ignore all annotations-related errors for now
extend-ignore = A
docstring-convention=numpy

; E741 : ambiguous variable name ("l")
; E241 : multiple spaces after ',' or ':'
; E203 : whitespace before ':'
; W503 : line break before binary operator
; E266 : too many leading '#' for block comment