ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: []
    submodules: false

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=3700"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # - id: name-tests-test
      #   args: ["--pytest-test-first"]
      # - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.11.0"
    hooks:
      - id: black
        alias: black
        name: black
        language_version: python3.12
        files: skshapes/|tests/
        verbose: true

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"  # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==24.10.0

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        args: ["-L", "sur,nd,fro", "--skip", "devdoc/*"]

  # - repo: https://github.com/numpy/numpydoc
  #   rev: "v1.6.0"
  #   hooks:
  #     - id: numpydoc-validation

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.4"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
        # args: ["--fix", "--unsafe-fixes", "--show-fixes"]

  - repo: https://github.com/scientific-python/cookie
    rev: 2025.11.10
    hooks:
      - id: sp-repo-review
