site_name: Scikit-Shapes
repo_url: https://github.com/scikit-shapes/scikit-shapes



theme:
  name: material
  features:
    - source_repository: 'https://github.com/scikit-shapes/scikit-shapes'
    - source_branch: 'main'
    - navigation.sections
    - toc.follow
    - navigation.top
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

nav:
  - Home: index.md
  - Installation: installation.md
  - User Guide:
    - Data Structures:
      - PolyData: user_guide/data_structures/polydata.md
      - Images: user_guide/data_structures/images.md
      - MultiScale: user_guide/data_structures/multiscale.md
      - MultiShape: user_guide/data_structures/multishape.md
    - Registration:
      - Registration: user_guide/registration/registration.md
      - Loss functions: user_guide/registration/loss.md
      - Deformation models: user_guide/registration/deformations.md
  - Examples: generated/gallery
  - API Reference:
    - skshapes: reference/
  - Contributing: contributing.md
  - About: about.md
  - License: license.md

plugins:
  - search
  - gallery:
        examples_dirs: docs/examples          # path to your example scripts
        gallery_dirs: docs/generated/gallery
        ignore_pattern: utils*
  - gen-files:
      scripts:
      - docs/gen_ref_nav.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_source: true
            members_order: source
          options:
            docstring_style: numpy
            docstring_section_table: list


markdown_extensions:
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  
