[project]
name = "skshapes"
version = "0.0.1"
dependencies = [
    "torch",
    "numpy",
    "pykeops",
    "geomloss",
    "jaxtyping",
    "beartype",
    "pyvista",
    "vedo",
    "fast-simplification",
]

[build-system]
requires = ["numpy", "cython", "setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project.optional-dependencies]
dev = [
    "black",
    "flake8",
    "flake8-docstrings",
    "flake8-bugbear",
    "flake8-builtins",
    "flake8-comprehensions",
    "flake8-annotations",
    "pytest",
    "pytest-cov",
    "hypothesis",
    "pytorch_shell @ git+https://github.com/Louis-Pujol/shell-energy-pytorch@latest",
    "mkdocs",
    "mkdocs-material",
    "mkdocs-gallery @ git+https://github.com/Louis-Pujol/mkdocs-gallery.git@latest",
    "imageio",
    "mkdocs-gen-files",
    "mkdocs-literate-nav",
    "mkdocstrings-python",
    "pytkdocs[numpy-style]",
]

[tool.black]
line-length = 79