# Workflow to build documentation
# On pull request: build documentation but do not publish it if docs or examples are modified
# On push to main: build documentation but do not publish it (test it)
# On release/manual trigger: build and publish documentation
name: Documentation

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  release:

jobs:

    build_documentation:
        name: Build Documentation
        runs-on: ubuntu-20.04

        permissions:
          deployments: write
          contents: write

        steps:
        - uses: actions/checkout@v4
        - name: Configure Git Credentials
          run: |
            git config user.name github-actions[bot]
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com

        - uses: actions/setup-python@v5
          with:
            python-version: "3.11"
            cache: "pip"

        - name: Install package (with dependencies for docs)
          run: |
            pip install --upgrade pip
            pip install -r requirements_docs.txt
            pip install .

        # https://github.com/pyvista/setup-headless-display-action
        - name: Setup headless display
          uses: pyvista/setup-headless-display-action@v2

        - name: build documentation (pull request or push)
          run: |
            sphinx-apidoc -o doc/source/api/ --module-first --force src/skshapes
            sphinx-build -b html doc/source/ doc/_build/html

        - name: upload artifact
          if: github.event_name == 'pull_request' || github.event_name == 'push'
          uses: actions/upload-artifact@v4
          with:
            path:
              doc/_build/html/


        - name: Deploy to GitHub Pages
          uses: peaceiris/actions-gh-pages@v3
          if: github.event_name == 'workflow_dispatch' || github.event_name == 'release'
          with:
            publish_branch: gh-pages
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: _build/
            force_orphan: true
